* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  overflow-x: hidden;
  font-family:'Bahnschrift', sans-serif;
  background-image: url('../Assets/ruelle_test.png'); 
  background-size: cover;         
  background-repeat: no-repeat;       
  background-position: center;     
  
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

}

html {
  overflow-x: hidden;
}
nav {
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}
nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
nav li {
  height: 50px;
}
nav a {
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: black;
}
nav a:hover {
  background-color: rgba(255, 255, 255, 0.55);
}
.logo {
  margin-right: auto;
}
.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.sidebar li {
  width: 100%;
}
.sidebar a {
  width: 100%;
}
.MenuButton {
  display: none;
  justify-content: center;
  align-items: center;
}
@media (max-width: 768px) {
  .hideOnMobile {
    display: none;
  }
  .MenuButton {
    display: flex;
  }
}

@media (max-width: 400px) {
  .sidebar {
    width: 100%;
  }
}

 .zone {
width: 200px;
height: 100px;
background-color: lightblue;
text-align: center;
line-height: 100px;
position: relative;
cursor: pointer;
}

.zone span {
display: none;              /* caché par défaut */
position: absolute;
bottom: -30px;
left: 50%;
transform: translateX(-50%);
background: black;
color: white;
padding: 5px 10px;
border-radius: 5px;
white-space: nowrap;
opacity: 0;
transition: opacity 0.3s ease;
}

.zone:hover span {
display: block;             /* affiché au survol */
opacity: 1;
}

.porte {
  width: 200px;
  height: 300px;
  background: sienna; /* couleur bois */
  border: 5px solid #4b2e2e;
  position: relative;
  cursor: pointer;
  transform: rotateY(-20deg) rotateX(10deg); /* biais 3D */
  transform-style: preserve-3d;
  perspective: 1000px; /* effet 3D */
}

.porte::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: peru;
  transform-origin: left center;
  transition: transform 1s ease; /* animation fluide */
}

/* Ouverture au survol */
.porte:hover::before {
  transform: rotateY(-100deg);
}

.trapeze{
  width:300px;
  height:300px;
  perspective:500px;
  margin:auto;
}
.trapeze div{
  width:300px;
  height:300px;
  background: red;
  transform:rotateX(45deg)
}